<% title "People" %>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone Numbers</th>
    <th>Email Addresses</th>
  </tr>
  <% for person in @people %>
    <tr>
      <td><%= person.first_name %></td>
      <td><%= person.last_name %></td>
      <td><%= render :partial => 'phone_numbers', :object => person.phone_numbers %></td>
      <td><%= render :partial => 'email_addresses', :object => person.email_addresses %>        
      <td><%= link_to "Show", person %></td>
      <td><%= link_to "Edit", edit_person_path(person) %></td>
      <td><%= link_to "Destroy", person, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Person", new_person_path %></p>
