<% title "People" %>

<p><%= link_to "New Person", new_person_path, :id => "new_person" %></p>

<div class="people">
  <% @people.each do |person| %>
    <div class="person">
      <h4><%= person.last_name %>, <%= person.first_name %></h4>
      <%= render :partial => 'phone_numbers/phone_numbers', :object => person.phone_numbers %>
      <%= render :partial => 'email_addresses/email_addresses', :object => person.email_addresses %>
      <ul>
        <li><%= link_to "Show", person %></li>
        <li><%= link_to "Edit", edit_person_path(person) %></li>
        <li><%= link_to "Destroy", person, :confirm => 'Are you sure?', :method => :delete %></li>
      </ul>
    </div>
  <% end %>
</div>
