<% title "#{@person.last_name}, #{@person.first_name}" %>

<%= render :partial => 'phone_numbers', :object => @person.phone_numbers %>
<%= link_to "Add a New Phone Number", new_phone_number_path(:person_id => @person.id ) %>

<%= render :partial => 'email_addresses', :object => @person.email_addresses %>
<%= link_to "Add a New Email Address", new_email_address_path(:person_id => @person.id ), :id => "new_email_address" %>

<ul class='actions'>
  <li><%= link_to "Edit", edit_person_path(@person) %></li>
  <li><%= link_to "Destroy", @person, :confirm => 'Are you sure?', :method => :delete %></li>
  <li><%= link_to "View All", people_path %></li>
</ul>
