<%= form_for @phone_number do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <%= f.hidden_field :contact_id %>
  <%= f.hidden_field :contact_type %>
  <p><%= f.submit %></p>
<% end %>
