<% title "Companies" %>

<table>
  <tr>
    <th>Name</th>
    <th>Email Addresses</th>
    <th>Phone Numbers</th>
  </tr>
  <% for company in @companies %>
    <tr>
      <td><%= company.name %></td>
      <td><%= render :partial => 'email_addresses', :object => company.email_addresses %>
      <td><%= render :partial => 'phone_numbers', :object => company.phone_numbers %>
      <td><%= link_to "Show", company %></td>
      <td><%= link_to "Edit", edit_company_path(company) %></td>
      <td><%= link_to "Destroy", company, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Company", new_company_path %></p>
