<div class="company">
  <% title @company.name %>

  <%= render :partial => 'phone_numbers/phone_numbers', :object => @company.phone_numbers %>
  <%= link_to "Add a New Phone Number", new_phone_number_path(:company_id => @company), :id => "new_phone_number" %>

  <%= render :partial => 'email_addresses/email_addresses', :object => @company.email_addresses %>
  <%= link_to "Add a New Email Address", new_email_address_path(:company_id => @company), :id => "new_email_address" %>

  <ul>
    <li><%= link_to "Edit", edit_company_path(@company) %></li>
    <li><%= link_to "Destroy", @company, :confirm => 'Are you sure?', :method => :delete %></li>
    <li><%= link_to "View All", companies_path %></li>
  </p>
</div>