<%= form_for @email_address do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <%= f.hidden_field :contact_id %>
  <%= f.hidden_field :contact_type %>
  <p><%= f.submit %></p>
<% end %>
