<% title "Email Address" %>

<p>
  <strong>Address:</strong>
  <%= @email_address.address %>
</p>
<p>
  <strong>Person:</strong>
  <%= @email_address.person_id %>
</p>

<p>
  <%= link_to "Edit", edit_email_address_path(@email_address) %> |
  <%= link_to "Destroy", @email_address, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", email_addresses_path %>
</p>
